target/
*.class
*.jar
*.war
.idea/
*.iml
.vscode/
.DS_Store
.env
.mvn/wrapper/maven-wrapper.jar

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
